article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
}

.linkButton {
    background: none;
    border: none;
    color: #0066ff;
    text-decoration: underline;
    cursor: pointer;
}

